.bttn-custom {
    padding: 0;
    border-width: 0;
    border-color: transparent;
    background: transparent;
    cursor: pointer;
    position: relative;
    /* top right bottom left */
    padding: 5px 0px 5px;
    overflow: hidden;
    border-width: 0;
    border-radius: 4px;
    background: transparent;
    color: #000000;
    -webkit-transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
    transition: all 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);

    /* heading size */
    font-size: 30px;
}
.bttn-custom:after {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: currentColor;
  content: '';
  opacity: 0.65;
  -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-custom:before {
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background: currentColor;
  content: '';
  opacity: 0.65;
  -webkit-transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1), -webkit-transform 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
}
.bttn-custom:hover,
.bttn-custom:focus {
  opacity: 0.9;
}
.bttn-custom:hover:after,
.bttn-custom:focus:after {
  opacity: 1;
  -webkit-transform: translateX(-10px) rotate(0.001deg);
          transform: translateX(-10px) rotate(0.001deg);
}
.bttn-custom:hover:before,
.bttn-custom:focus:before {
  opacity: 1;
  -webkit-transform: translateX(10px) rotate(0.001deg);
          transform: translateX(10px) rotate(0.001deg);
}
