html {
   /* width: 80%;*/
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px
}

body {
    width: 80%;
    background: #f1f1f1;
}

.name-header {
    font-size: 25px;
    color: grey;
    font-style: italic;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: italic;
}

.contact-type {
    font-size: 15px;
    font-family: helvetica;
    font-weight: 15;
}

.contact-data {
    font-size: 15px;
    font-family: monospace;
}

h1 {
    font-family: "helvetica";
    font-size: 40px;
}

h2 {
    font-family: helvetica;
    font-size: 20px;
}

.pfp {
    height: 200px;
    width: 150px
}
a:hover {
    text-decoration: underline;
}

a:link {
    color: #000000;

}

a:visited {
    text-decoration: none;
    color: #000000;
}