html {
  /*width: 80%;*/
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 50px;
  background: #f1f1f1;
}

body {
  background: #fff;
  color: #444;
  width: 90%;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.feature-img {
  width: 95%;
  height: 100px;
  padding-left: 4%;
  padding-top: 0.2%;
  /*background-image: linear-gradient(#A6A1AF, #332D43);*/
  /*url("assets/IMG_3869.jpg");*/
  background-color: #332D43;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-family: futura-pt;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  text-decoration: none;
}
#homepage-nameplate {
  text-align: bottom;
}

h2 {
  font-family: futura-pt;
  font-size: 30px;
}

.page-header {
  font-family: helvetica, sans-serif;
  font-weight: 600;
  color: rgb(30, 33, 39);
  text-decoration: underline;
  text-decoration-color: #DB6B69;
}

.page-content {
    padding-left: 4%;
    width: 95%;
}


.item-header {
    font-family: helvetica, sans-serif;
    font-weight: 800;
    font-size: 16px;
    font-style: bold;
}

.subheading {
    font-size: 14px;
    font-family: helvetica;
    font-weight: 500;
    font-style: italic;
    color: #DB6B69;
}

.info-text {
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
}

.contact-data {
  float:left;
}

.email-link {
  font-size: 16px;
  font-family: helvetica;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #DB6B69;
}
