html {
  /*width: 80%;*/
  margin-top: 40px;
  margin-right: 50px;
  margin-left: 50px;
  background: #f1f1f1;
}

body {
  background: #ffffff;
  color: #444444;
  width: 90%;
  height: 1450px;
  padding: 30px;
}

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: inherit;
  text-decoration-color: inherit;
  color: inherit;
}

a:visited{
  font-family: inherit;
  font-size: inherit;
  text-decoration: inherit;
  text-decoration-color: inherit;
  color: inherit;
}

strong {
  color:#DB6B69
}

.feature-img {
  width: 95%;
  height: 100px;
  padding-left: 4%;
  padding-top: 0.2%;
  /*background-image: linear-gradient(#A6A1AF, #332D43);*/
  /*url("assets/IMG_3869.jpg");*/
  background-color: #332D43;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-family: futura-pt;
  font-size: 50px;
  font-weight: 500;
  font-style: italic;
  color: #ffffff;
  text-decoration: none;
}

#homepage-nameplate {
  text-align: bottom;
  text-decoration: none;
}


#linkbox {
  padding-left: 4%;
  padding-top: 2%;
  width: 60%;
  float: left;
}

.heading {
  font-size: 30px;
  font-family: helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 20px;
}

.inline-data {
  float: left;
  padding-right: 2%;
}

.subheading {
    font-size: 14px;
    font-family: helvetica;
    font-weight: 500;
    font-style: italic;
    color: #DB6B69;
}

.container {
  padding-left: 12px;
}

.info-text {
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
}

#column2 {
  padding-left: 4%;
  padding-top: 2%;
  height: 500px;
  width: 30%;
  float: left;
}

.info-text {
    font-size: 16px;
    font-family: helvetica;
    font-weight: 300;
    text-decoration-color: #DB6B69;
}

#column3 {
  padding-left: 4%;
  padding-top: 2%;
  height: 500px;
  width: 300px;
  float: left;
}


.twitter-timeline {
  height: 400px;
  width: 300px;
}



.email-link {
  font-size: 16px;
  font-family: helvetica;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #DB6B69;
}
.item-header {
    font-family: helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
}
